.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  & .profile {
    display: flex;
    flex-direction: row;
    & .avatar {
      display: flex;
      flex-direction: column;
      margin: 10px;
      width: 270px;
      min-height: 330px;
      padding: 10px;
      background-color: #2F2F2F;
      border: 1px solid #595959;
      border-radius: 10px;

      & img {
        max-width: 100%;
        object-fit: contain;
        border-radius: 5px;
      }

      & button {
        margin: 0px auto;
        width: 270px;
        height: 30px;
        background: #595959;
        border: none;
        border-radius: 5px;
        color: #EEEEEE;

        &:hover {
          background-color: #EEEEEE;
          color: #2F2F2F;
          transition: 0.2s ease;
        }
      }
    }
    & .info {
      display: flex;
      flex-direction: column;
      height: 250px;
      min-width: 290px;
      margin: 10px;
      background-color: #2F2F2F;
      border: 1px solid #595959;
      border-radius: 10px;

      & > span {
        padding: 20px 40px;
        font-size: 20px;
        font-weight: 500;
        color: #EEEEEE;
      }
      & ul {
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style-type: none;

        & li {
          padding: 10px 10px 10px 40px ;
          color: #EEEEEE;

          & img {
            padding-right: 10px;
          }
        }
      }
    }
  }
  & .posts {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 604px;

    & .posts__add {
      padding: 10px;
      border: 1px solid #595959;
      border-radius: 10px;
      color: #EEEEEE;
    }

    & .posts__post {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #595959;
      border-radius: 10px;

      & > span {
        padding: 15px 0px 0px 10px;
        color: #EEEEEE;
        font-size: 18px;
        font-weight: 500;
      }

      & > p {
        padding: 0px 10px;
        color: #EEEEEE;
      }
    }
  }
}

@media only screen and (max-width: 715px) {
  .content  {
    .profile {
      flex-direction: column;
    }
  }
}
