.dialogs {
    display: flex;
    margin: 0px auto;

    & .companions {
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid #595959;
        margin-right: 10px;
    }

    & .messages {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #595959;
        width: 500px;
        height: 600px;
    }
}